HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- Spring Boot runtime files ---
*.log
*.h2.db
*.db

# --- Maven extras ---
dependency-reduced-pom.xml
.mvn/wrapper/maven-wrapper.properties

# --- Frontend library
**/node_modules

# --- Sensitive configs ---
*/application.properties
*/application.yml
*.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# --- Developer Environments ---
MarcLocalEnvironment.env
# --- Jeff stupid files ---
*.DS_Store
*.LCK*
run-local.ps1
src/main/resources/application.properties
